body {
    font-family: 'Segoe UI', sans-serif;
    background: url('./images/css-lattice-pattern.png') no-repeat center center fixed;
    background-size: 100% 100%;
}

span {
    font-style: italic;
}


table {
    margin-top: 25px;
    background-color: #fff;
}

h1  {
    color: #fff;
}

#del {
    margin-left: 15px;
    
}

#preview {
    margin-left: 15px;
}

#NEW {
    width: 150px;
    font-weight: bold;
}

i.fas {
    margin-left: 5px;
}

span {
    vertical-align: -webkit-baseline-middle;
}

.data {
    font-weight: bold;
}

.modal-body p {
    font-weight: bold;
    text-align: left;
}


table tr td:first-child + td, table tr th:first-child + th {
    max-width: 60px;
}

table tr td:first-child + td + td, table tr th:first-child + th + th {
    max-width: 100px;
}

table tr td:first-child + td + td + td + td, table tr th:first-child + th + th + th + th {
    max-width: 100px;
}

table tr th:first-child + th + th + th input {
    width: 300px;
}


td.badge {
    margin-top: 8px;
}



input[type=text] {
    max-width: 80%;
}